::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--hover);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--border);
  cursor: pointer;
}

* {
  margin: 0;
}

@font-face {
  font-family: vazir;
  src: url(../assets/fonts/Vazirmatn-Black.woff2);
}

body {
  background-color: #222222;
  height: 100vh;
  max-height: 100vh;
  font-family: vazir;
  display: flex;
  flex-direction: row;
  align-items: center;
}

a,
a:hover {
  text-decoration: none;
}

/*
========================================================================================================================
------------------------------------------------------ RIGHT SIDE ------------------------------------------------------
========================================================================================================================
 */

.right__side {
  width: 20%;
  height: 98%;
  background-color: #2d2d2d;
  border-radius: 15px 0 0 15px;
}

.right__side .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right__side img {
  width: 60%;
  border: 3px solid #c073ff;
  /* border-radius: 50%; */
  margin: 20px 0;
  animation: shape 10s linear infinite;
}

@keyframes shape {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  33% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  66% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

/*
========================================================================================================================
--------------------------------------------------- RIGHT SIDE SPECS ---------------------------------------------------
========================================================================================================================
 */

.right__side .specs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right__side .specs h1 {
  color: #be6eff;
  font-weight: bold;
}

.right__side .specs p {
  color: #adadadbd;
}

/*
========================================================================================================================
-------------------------------------------------------- CONTACT -------------------------------------------------------
========================================================================================================================
 */

.right__side .contact {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: ltr;
  margin-top: 30px;
}

.right__side .contact h2 {
  color: #ddddddbc;
  font-size: 25px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.right__side .contact div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  width: 95%;
}

.right__side .contact div svg {
  color: #9a1fff;
}

.right__side .contact div p,
a {
  color: #ddddddbc;
  margin-left: 10px;
  font-size: 13px;
}

/*
========================================================================================================================
-------------------------------------------------------- SOCIAL --------------------------------------------------------
========================================================================================================================
 */

.right__side .socials {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: ltr;
  margin-top: 30px;
}

.right__side .socials h2 {
  color: #ddddddbc;
  font-size: 25px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.right__side .socials div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  width: 95%;
}

.right__side .socials div svg {
  color: #9a1fff;
}

.right__side .socials div p,
a {
  color: #ddddddbc;
  margin-left: 10px;
  font-size: 13px;
}

/*
========================================================================================================================
------------------------------------------------------- LEFT SIDE ------------------------------------------------------
========================================================================================================================
 */

.left__side {
  height: 100%;
  width: 80%;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left__side .container {
  width: 96%;
  height: 94%;
  background-color: #2d2d2d;
  border-radius: 15px;
  padding: 15px;
  overflow-y: scroll;
}

/*
========================================================================================================================
---------------------------------------------------- LEFT SIDE ABOUT ---------------------------------------------------
========================================================================================================================
 */

.left__side .about {
  border-bottom: 1px dashed #ddddddbc;
  padding: 10px 10px 20px 10px;
}

.left__side .about h2 {
  color: #d5d5d5;
  font-size: 25px;
  margin-bottom: 5px;
}

.left__side .about p {
  color: #ddddddbc;
  font-size: 13px;
  line-height: 2.5;
  padding-right: 10px;
}

/*
========================================================================================================================
--------------------------------------------------- LEFT SIDE SKILLS ---------------------------------------------------
========================================================================================================================
 */

.left__side .skills {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ddddddbc;
  display: flex;
  flex-direction: column;
}

.left__side .skills h2 {
  color: #d5d5d5;
  margin-bottom: 10px;
}

.left__side .skills__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  direction: ltr;
}

.left__side .skills__box div {
  width: 50%;
  direction: ltr;
  margin-bottom: 10px;
}

.left__side .skills div h2 {
  color: #ddddddbc;
  font-size: 18px;
}

.left__side .skills div .box {
  height: 5px;
  width: 80%;
  background-color: #222222;
  border-radius: 25px;
}

.left__side .skills div .box .fill {
  background-color: #9a1fff;
  border-radius: 25px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 0;
  position: relative;
  transition: width 2s ease;
}

.left__side .skills div .box .fill p {
  font-size: 15px;
  margin-right: 3px;
  color: #ddddddbc;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
}

/*
========================================================================================================================
-------------------------------------------------- LEFT SIDE PROJECTS --------------------------------------------------
========================================================================================================================
 */

.left__side .projects {
  margin-top: 20px;
}

.left__side h2 {
  color: #d5d5d5;
  margin-bottom: 20px;
}

.left__side .projects__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  direction: ltr;
}

.left__side .projects a {
  width: 29%;
  background-color: #222222;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #aeaeae76;
  transform: scale(100%);
  transition: all 0.5s ease;
  position: relative;
  height: 180px;
}

.left__side .projects a:hover {
  transform: scale(105%);
  box-shadow: 0 0 10px #a442ff;
  transition: all 0.5s ease;
}

.left__side .projects a h3 {
  margin-bottom: 5px;
  font-size: 25px;
}

.left__side .projects a .dis {
  color: #dddddda1;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
}

.left__side .projects .lang__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left__side .projects .lang__fill {
  height: 5px;
  margin-right: 3px;
  border-radius: 3px;
}

.left__side .projects .HTML {
  background-color: #ff4516;
}
.left__side .projects .Css {
  background-color: #a442ff;
}
.left__side .projects .JavaScript {
  background-color: #f0ff22;
}
.left__side .projects .PHP {
  background-color: #354a6b;
}
.left__side .projects .Blade {
  background-color: #61ff22;
}

.left__side .projects .lang__name {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.left__side .projects .lang__name .circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.left__side .projects .lang__name div {
  font-size: 12px;
  color: #dddddd88;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left__side .projects a .author {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 10px;
  position: absolute;
  bottom: 15px;
}

.left__side .projects a img {
  width: 25px;
  border-radius: 50%;
}

.left__side .projects a .author__name {
  margin-left: 5px;
  color: #adadadbd;
}
